@use '../sass/utils' as *;
@use '../sass/components' as *;

body {
  font-family: var(--ff-primary);
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--bg-primary-500);
}

.container {
  box-shadow: var(--box-shadow-600);
  border-radius: 0.5rem;
  max-width: 39.75rem;
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.wrapper {
  padding: 1.5rem;
}

.hero {
  padding-top: 1.75rem;
  padding-bottom: 2rem;
  &__header {
    margin-bottom: 1.5rem;
  }
  &__header-2 {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: $desktop-size) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    padding: 2.5rem;
  }

  .hero {
    padding-block: 2.5rem;
    grid-column: span 2;
  }

  .header-2 {
    margin-bottom: 1rem;
  }
}
